.header__logo {

	width: 145px;
	height: 33px;
	margin: 0 auto 41px 0;
}

@media screen and (max-width: 320px) {
	.header__logo {
		width: 105px;
		height: 25px;
		margin-bottom: 32px;
		object-fit: cover;
	}
}