.photo-grid {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, 282px);
	gap: 18px 18px;

	margin: 0;
	padding: 0;
	margin-bottom: 66px;
}


@media screen and (max-width:930px ) {
.photo-grid {
	justify-content: center;
	margin-bottom: 48px;
}
}
