.page {	
	background-color: #000000;
	margin: 0 auto;
	padding: 45px 0 60px 0;
	font-family: Inter, Arial, sans-serif;
	color: #ffffff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	text-rendering: optimizeLegibility;
	transition: opacity 1s;
}
.hidden {
	opacity: 0;
}
.visible {
	opacity: 1;
}

@media screen and (max-width: 320px) {
	.page {
		padding-top: 27px;
		padding-bottom: 36px;
	}
}