.photo-grid__picture-wrap {
    margin: 0 auto;
    padding: 0;
    width: 282px;
    height: 282px;
    background-color: whitesmoke;
    /*background-image: url("../../../images/emptyAva.jpg");*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
}