.photo-grid__trash {
    position: absolute;
    top: 18px;
    right: 15px;
    width: 21px;
    height: 17px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url("../../../images/svg/Trash.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border: none;
    background-color: transparent;
    transition: opacity 0.3s;
}

.photo-grid__trash:hover, .photo-grid__like:focus, .photo-grid__like:active {
    cursor: pointer;
    opacity: 0.6;
    outline: none;
}